{% extends 'base.html' %} {% load static %} {% block content %}
<section>
  <article>
    <h1>О Нас</h1>
    <!--Begin row-->
    <div class="row">
      <!--Begin col-->
      <div class="column">
        <p>
            Основанный в Индии, Four Pythons - это семейный индийский ресторан,
            ориентированный на традиционные рецепты с современными нотками.
        </p>
        <p>
            Шеф-повара черпают вдохновение из культур Южной и Северной Индии и
            предлагают меню из 12-15 блюд, которое они меняют в зависимости от сезона.
        </p>

        <p>
            Ресторан имеет простую и непринужденную атмосферу с умеренными ценами,
            что делает его популярным местом для приема пищи в любое время дня.
        </p>

        <p>
            Four Pythons принадлежит двум индийским братьям, Нрупену и Самиру,
            которые переехали в Соединенные Штаты, чтобы воплотить в жизнь свою общую мечту
            об открытии ресторана.
        </p>

        <p>
            Для создания меню Самир полагается на семейные рецепты и свой опыт в качестве шеф-повара в Хайдарабаде.
        </p>

        <p>
            Нрупен отвечает за весь маркетинг ресторана и возглавил усилия по
            расширению меню за пределы классической индийской кухни, включив
            дополнительные кухни средиземноморского региона.
        </p>
      </div>
      <!--End col-->

      <!--Begin col-->
      <div class="column">
        <figure class="figure">
          <img
            src="{% static 'img/mario-and-adrian.jpg' %}"
            alt="Chefs"
          />
        </figure>
      </div>
      <!--End col-->
    </div>
    <!--End row-->
  </article>
</section>
{% endblock %}
