{% extends 'base.html' %}
{% load static %}

{% block content %}
<section>
  <article>
    <p></p>
    <h1>Забронировать стол</h1>
    <!--Begin row-->
    <div class="row">
      <!--Begin col-->
      <div class="column">
        <form action="" method="post">
          {% csrf_token %}
          {{form.as_p}}
          <input type="submit" id="button">
        </form>
      </div>
      <!--End col-->

      <!--Begin col-->
      <div class="column">
        <div class="videowrap">
          <iframe src="https://yandex.ru/map-widget/v1/?um=constructor%3A25bd73b442a9e7c62982881cb8d00e3951eedc4b391948f23c54498ff58312f7&amp;source=constructor" width="500" height="400" frameborder="0"></iframe>
        </div>
      </div>
      <!--End col-->
    </div>
    <!--End row-->




  </article>
</section>
{% endblock %}