{% extends 'base.html' %}
{% load static %}

{% block content %}
<section>
  <article>
    <p><h3>Номер Телефона : 8457839464</h3></p>
    <h1>Забронировать стол</h1>
    <!--Begin row-->
    <div class="row">
      <!--Begin col-->
      <div class="column">
        <form action="" method="post">
          {% csrf_token %}
          {{form.as_p}}
          <input type="submit" id="button">
        </form>
      </div>
      <!--End col-->

      <!--Begin col-->
      <div class="column">
        <div class="videowrap">
          <iframe src="https://yandex.ru/map-widget/v1/?um=constructor%3A4bcd8e032862c8d6520476e2513ec24fe2132204d8a271c050508fe77477a0eb&amp;source=constructor" width="500" height="400" frameborder="0"></iframe>
        </div>
      </div>
      <!--End col-->
    </div>
    <!--End row-->




  </article>
</section>
{% endblock %}