{% extends 'base.html' %}
{% load static %}

{% block content %}
    <section>
    <div class="cart">
    {% csrf_token %}
    <h2>Заказ #{{ order.id }}</h2>
        {% for item in detail %}
            <div class="cart_item">
            <img src="/restaurant/static/img/menu_items/{{item.product.name}}.jpg" alt=""/>
                <div class="cart_item_text">
                    <h5>{{ item.product.name }}</h5>
                    <div class="cart_item_price">
                        <p>x{{ item.quantity }}</p>
                        <p>₽{{ item.product.price }}</p>
                    </div>
                </div>
            </div>
        {% endfor %}
        <label for="address">
            Адрес доставки
            <input style="width: 100%;" name="address" type="text" value="{{ order.address }}" readonly disabled/>
        </label>
        <div class="order-section">
            <h3 class="total_price" style="padding-top: 20px;">Итого: ₽{{ total_price }}</h3>
        </div>
    </div>
    </section>
{% endblock %}